#contain{
	width: 300px;
	font-weight: bold;
}
#contain h2{
	line-height: 60px;
}
#contain span{
	color: white;
	font-size: 18px;
	margin-left: 60px;
}

input { 
	width: 50px; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 20px;
	color: #333333;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.button {
  background: #FFA500;
  background-image: -webkit-linear-gradient(top, #FFA500, #FF8C00);
  background-image: -moz-linear-gradient(top, #FFA500, #FF8C00);
  background-image: -ms-linear-gradient(top, #FFA500, #FF8C00);
  background-image: -o-linear-gradient(top, #FFA500, #FF8C00);
  background-image: linear-gradient(to bottom, #FFA500, #FF8C00);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 0px -1px 0px #2b665e;
  -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 12px 30px 12px 30px;
  border: solid #566963 1px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  background: #FF7F00;
  text-decoration: none;
}